<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .body {
            background-color: #0281ca;
            background-image: url('static/login_background.png');
        }

        
        
    </style>
</head>

<body class="container mt-4">
    <h2>Bejelentkezés</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Felhasználónév</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Jelszó</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Bejelentkezés</button>
        <a href="/register" class="btn btn-secondary">Regisztráció</a>
    </form>
</body>
</html>