<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="panel1">
        <form method="POST">
            <div>
                <div class="flexoldal"><label for="username" >Felhasználónév </label><a href="">Skype vagy Hotmail</a></div>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <div class="flexoldal"><label for="password" >Jelszó</label> <a href="">problems signing in?</a></div>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                {% if success %}
                    <p class="success">{{ success }}</p>
                {% endif %}
            </div>
            <div class="gombok">
                <button type="submit">Bejelentkezés</button>
                <label for="">vagy</label>
                <a href="/register">Regisztráció</a>
            </div>
        </form>
    </div>
    <div class = "vertical"></div>
    <div class="panel2">

        <img src="{{ url_for('static', filename='skype.png') }}" alt="">
        <h4 style="color: white;">Üdvözöljük a weboldalon!</h4>
    </div>
</body>
</html>